@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.section-container{
    background: #F2F2F2;
    margin: auto;
    padding: 0;
    left:0;
    top: 0;
    position: relative;
    
   
}
section img{
    width: 100%;
    height: fit-content;
   
}

.section-container section .awards{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.0059em;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 2em;
    opacity: 0.3;
    padding: 0;
}

hr{
    width: 20%;
}
.form-container{
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: 1em 0;
   
}

.form-container p{
    color: #0F5F5C;
    font-weight: 600;
}

input[type=text],textarea {
    width: 75%;
    border: 1px solid #C1D3D2;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
  }


  input[type=submit] {
    background: #00A799;
    border-radius: 30px;
    color: #FFFFFF;
    margin-top: 1em;
    border: none;
    cursor: ;
    align-self: center;
    padding: 1.3em;

  }

  
  input[type=submit]:hover {
    background-color: rgb(12, 70, 68);;
  }

