.hero {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.61%, rgba(40, 38, 38, 0.85)), color-stop(10.55%, rgba(34, 43, 72, 0.72)), color-stop(16.97%, rgba(28, 48, 105, 0.57)), color-stop(38.37%, rgba(6, 21, 59, 0.34)), color-stop(42.54%, rgba(6, 21, 59, 0.34)), color-stop(47.35%, rgba(6, 21, 59, 0.34)), color-stop(52.57%, rgba(6, 21, 59, 0.34)));
  background: linear-gradient(180deg, rgba(40, 38, 38, 0.85) 2.61%, rgba(34, 43, 72, 0.72) 10.55%, rgba(28, 48, 105, 0.57) 16.97%, rgba(6, 21, 59, 0.34) 38.37%, rgba(6, 21, 59, 0.34) 42.54%, rgba(6, 21, 59, 0.34) 47.35%, rgba(6, 21, 59, 0.34) 52.57%);
}

footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #072522;
  position: relative;
  bottom: 0;
  background-image: url("../images/bitmap.png");
  background-repeat: no-repeat;
  background-size: 700px 300px;
  background-position: right center;
  padding-bottom: 40px;
}

footer #footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding-left: 60px;
}

footer #footer::after {
  width: 100%;
  height: 100%;
  background-color: #00000099;
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

footer #footer .block {
  margin-top: 50px;
  line-height: 2.0em;
  z-index: 1;
}

footer #footer .block .block-item {
  overflow-x: hidden;
}

footer #footer .block .block-item:nth-child(1) {
  color: white;
  font-size: 18px;
  position: relative;
}

footer #footer .block .block-item:nth-child(1)::before {
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  border-bottom: 2px solid #00A799;
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
}

footer #footer .block .block-item a {
  color: #ffffffc9;
}

footer .exit-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .exit-logo .site-name {
  z-index: 1;
  font-size: 32px;
  color: white;
}

footer .exit-logo .site-name .top-text {
  margin-bottom: -25px;
  font-weight: 900;
}

footer .exit-logo .site-name .bottom-text {
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 8 px;
}

footer .exit-logo .site-name .bottom-text .ampersand {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  margin-top: 10px;
  color: #AB6C0D;
}

footer .exit-logo .footer-divider {
  z-index: 1;
  background-color: #00A799;
  height: 1px;
  border: none;
  width: 70%;
}

footer .privacy {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .privacy p {
  z-index: 1;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .privacy .social-media-icons {
  z-index: 1;
}

footer .privacy .social-media-icons i {
  padding-right: 10px;
  font-size: 18px;
}

.material-icons.md-36 {
  font-size: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  footer .exit-logo {
    margin-top: 40px;
  }
}

@media screen and (max-width: 540px) {
  footer {
    background-size: contain;
  }
}
/*# sourceMappingURL=footer.css.map */