/* Globally set these properties and also for the anchor tags. 
    If you need any of these change, define it explicitly.
 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: initial;
}

#header {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  background: transparent;
  position: fixed;
  z-index: 5;
  color: white;
}

#header .site-name {
  font-size: 32px;
}

#header .site-name .top-text {
  margin-bottom: -25px;
  font-weight: 900;
}

#header .site-name .bottom-text {
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 8 px;
}

#header .site-name .bottom-text .ampersand {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  margin-top: 10px;
  color: #AB6C0D;
}

#header .navigation {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 20px;
}

#header .navigation .links-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#header .navigation .links-list .links {
  padding: 7px 25px;
  margin: 0px 10px;
  font-size: 18px;
  border-radius: 50px;
  -webkit-transition: .2s all ease-out;
  transition: .2s all ease-out;
  color: white;
}

#header .navigation .links-list .links:hover {
  border: 1px solid white;
}

#header .navigation .links-list .links.active {
  /* Active state of navigation. */
  background-color: white;
  color: black;
}

#header .navigation .links-list .links.active:hover {
  background-color: transparent;
  color: white;
}

#header #menu {
  /* Disabled the menu to only show on small screen sizes */
  display: none;
}

#header #menu .activator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  cursor: pointer;
}

/* CSS breakpoint for tablet and mobile */
@media screen and (max-width: 768px) {
  #header .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background: white;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .4s transform ease-out;
    transition: .4s transform ease-out;
  }
  #header .navigation .links-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #header .navigation .links-list .links {
    color: black;
    margin: 10px 0px;
    width: 100%;
    border-radius: 0px;
    -webkit-transition: none;
    transition: none;
    padding: 15px 30px;
    border-left: 7px solid #00A799;
  }
  #header .navigation .links-list .links:hover {
    border: none;
    background: #f7f7f7;
    border-left: 7px solid #00A799;
  }
  #header .navigation .links-list .links.active {
    background-color: #f7f7f7;
  }
  #header .navigation .links-list .links.active:hover {
    border: none;
    background: #f7f7f7;
    color: black;
    border-left: 7px solid #00A799;
  }
  #header .navigation.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  #header #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=navigation.css.map */