@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    width: 100% !important;
    overflow-x: hidden;
}

.text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h3 {
    text-align: center;
    font-family: Roboto;
    font-size: 38px;
    font-weight: normal;
}

/* HEADER START  */
.head {
    background: url(../images/rooms/rooms.png) center center/cover no-repeat;
    height: 100vh;
    position: relative;
}

.myImg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(40, 38, 38, 0.85) 2.61%, rgba(34, 43, 72, 0.72) 10.55%, rgba(28, 48, 105, 0.57) 16.97%, rgba(6, 21, 59, 0.34) 38.37%, rgba(6, 21, 59, 0.34) 42.54%, rgba(6, 21, 59, 0.34) 47.35%, rgba(6, 21, 59, 0.34) 52.57%);
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    margin-bottom: 30px;
}

.head .text h3 {
    font-size: 55px;
}

.head .text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.img-nav {
    position: absolute;
    bottom: 0;
    left: -0.1%;
    background-color: #ffffff52;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.lil-img {
    display: inline-block;
    align-items: center;
    margin: auto;

}
/*rooms*/
.rooms{
    position: relative;
    text-align: left;
    width: 521px;
    margin-left: 1%;

   
}
span{
    font-size: 22px;
    font-weight: bold;
}
.contents {
    position: absolute;
    background-color: rgba(15, 95, 92, 0.2);
    color: white;
    text-align: right;
    top: 40%;
    left: 50%;
    width: 514px;
    transform: translate(-50%, -50%);
}
.container{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
   
}
.ratings{
    position: absolute;
    bottom: 15%;
    right: 15px;
    color: white;
    margin-bottom: 7%;
}
.features{
    position: absolute;
    top: 6px;
    right: 1%;
    color: #072522;
    text-align: right;
    width: 200px;

}
.button{
    position: absolute;
    bottom: 6px;
    right: 1%;
 
    
}
.button button{
    background: #00a799;
    text-align: justify;
    color: white;
    margin: auto;
    width: 219px;
    height: 48px;
    margin-top: 5%;
    margin-top: 3%;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}
.room1{
    position: relative;
    margin-top: 5%;
    margin-left: 57%;
    text-align: right;
    width: 521px;

}
.content1{
    position: absolute;
    background-color: rgba(15, 95, 92, 0.2);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 515px;
    text-align: left;
}
.ratings1{
    position: absolute;
    bottom: 8px;
    
    color: white;
    margin-bottom: 7%;
    text-align: left;
}
.features1{
    position: absolute;
    top: 6px;
    left: 1%;
    color: #072522;
    text-align: right;
    text-align: left;
    width: 200px;
}
.button1{
    position: absolute;
    bottom: 6px;
    left: 0.7%;
}
.button1 button{
    background: #00a799;
    text-align: justify;
    color: white;
    margin: auto;
    width: 219px;
    height: 48px;
    margin-top: 5%;
    margin-top: 3%;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;

}
@media only screen and (max-width: 1300px){
    body{
        width: 100% !important;
    }
    .room1{
        margin-left: 55%;
    }
}
@media only screen and (max-width:1311px){
    .room1{
        margin-left: 53%;
    }
}
@media only screen and (max-width: 1210px){
    .room1{
        margin-left: 48%;
    }
}
@media only screen and (max-width: 1093px){
    .room1{
        margin-left: 45%;
    }
}
@media only screen and (max-width: 1032px){
    .room1{
        margin-left: 42%;
    }
}
@media only screen and (max-width: 1000px){
    .container{
        margin-left: 1%;
        margin-right: 3%;
    }
    .room1{
        margin-left: 40%;
       
    }
    .image{
        width: 500px;
    }
    .image1{
        width: 500px;
    }
    .contents{
        left: 47%;
        width: 499px;
    }
    .content1{
        left: 53%;
        width: 499px;
    }
    .ratings1{
        left: 20px;
    }
}
@media only screen and (max-width: 900px){
    .room1{
        width: 500px;
        margin-left: 30%;
    }
    .room{
        width: 500px;
    }
    .button button{
        width: 200px;
    }
    .button1 button{
        width: 200px;
    }
    .button1{
        bottom: 6px;
    }
}
@media only screen and (max-width: 830px){
    .container{
        margin-left: 1%;
        margin-right: 1%;
    } 
}
@media screen and (max-width: 900px){
    .image{
        width: 65%;
        margin-bottom: 5%;
    }
    .image1{
        width: 65% !important;
    }
    .room1{
        margin-top: 3%;
    }
    .features1{
     
        text-align: left;
        font-size: 16px;
        top: 1px;
        left: 50%;
  
    }
    .features{
        text-align: left;
        font-size: 16px;
        right: 25%;
    }
    .contents{
        display: none;
    }
    .ratings{
        display: none;
    }
    .content1{
        display: none;
    }
    .ratings1{
        display: none;
    }
   
    .room1{
        position: relative;
        text-align: left;
        width: 521px;
        margin-left: 1%;
    }
    .button1 button{
        width: 150px;
        margin-top: -3%;
    }
    .button1{
        margin-left: 79% ;   position: absolute;
        bottom: 80px;
        right: 1%;
    }
    .button button{
        width: 150px;
    }
    .button1 button img{
        display: none;
    }
    .button button img{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .text{
        display: none;
    }
    .image{
        width: 65%;
        margin-bottom: 5%;
    }
    .image1{
        width: 65% !important;
    }
    .room1{
        margin-top: 3%;
    }
    .features1{
     
        text-align: left;
        font-size: 16px;
        top: 1px;
        left: 55%;
  
    }
    .features{
        text-align: left;
        font-size: 16px;
        right: 17%;
    }
    .contents{
        display: none;
    }
    .ratings{
        display: none;
    }
    .content1{
        display: none;
    }
    .ratings1{
        display: none;
    }
   
    .room1{
        position: relative;
        text-align: left;
        width: 521px;
        margin-left: 1%;
    }
    .button1 button{
        width: 150px;
        margin-top: -3%;
    }
    .button1{
        margin-left: 79% ;   position: absolute;
        bottom: 80px;
        right: 1%;
    }
    .button button{
        width: 150px;
    }
    .button1 button img{
        display: none;
    }
    .button button img{
        display: none;
    }
}

@media only screen and (max-width: 700px){
    .text{
        display: none;
    }
    .image{
        width: 65%;
        margin-bottom: 5%;
    }
    .image1{
        width: 65% !important;
    }
    .room1{
        margin-top: 3%;
    }
    .features1{
     
        text-align: left;
        font-size: 16px;
        top: 1px;
        left: 63%;
  
    }
    .features{
        text-align: left;
        font-size: 16px;
        right: 7%;
    }
    .contents{
        display: none;
    }
    .ratings{
        display: none;
    }
    .content1{
        display: none;
    }
    .ratings1{
        display: none;
    }
   
    .room1{
        position: relative;
        text-align: left;
        width: 521px;
        margin-left: 1%;
    }
    .button1 button{
        width: 130px;
    
    }
    .button1{
        margin-left: 79% ;   position: absolute;
        bottom: 15px;
        right: 1%;
    }
    .button button{
        width: 130px;
    }
    .button1 button img{
        display: none;
    }
    .button button img{
        display: none;
    }
}
@media only screen and (max-width: 650px){
    .text{
        display: none;
    }
    .image{
        width: 65%;
        margin-bottom: 5%;
    }
    .image1{
        width: 65% !important;
    }
    .room1{
        margin-top: 3%;
    }
    .features1{
     
        text-align: left;
        font-size: 16px;
        top: 1px;
        left: 60%;
  
    }
    .features{
        text-align: left;
        font-size: 16px;
        right:7%;
        top: 1px;
    }
    .contents{
        display: none;
    }
    .ratings{
        display: none;
    }
    .content1{
        display: none;
    }
    .ratings1{
        display: none;
    }
   
    .room1{
        position: relative;
        text-align: left;
        width: 521px;
        margin-left: 1%;
    }
    .button1 button{
        width: 130px;
    
    }
    .button1{
        margin-left: 79% ;   position: absolute;
        bottom: 15px;
        right: 2%;
    }
    .button button{
        width: 130px;
    }
    .button1 button img{
        display: none;
    }
    .button button img{
        display: none;
    }
}
@media only screen and (max-width: 620px){
    .text{
        display: none;
    }
    .image{
        width: 50%;
        margin-bottom: 5%;
    }
    .image1{
        width: 50% !important;
    }
    .room1{
        margin-top: 3%;
    }
    .features1{
     
        text-align: left;
        font-size: 16px;
        top: 1px;
        left: 63%;
  
    }
    .features{
        text-align: left;
        font-size: 16px;
        right: 7%;
    }
    .contents{
        display: none;
    }
    .ratings{
        display: none;
    }
    .content1{
        display: none;
    }
    .ratings1{
        display: none;
    }
   
    .room1{
        position: relative;
        text-align: left;
        width: 521px;
        margin-left: 1%;
    }
    .button1 button{
        width: 130px;
    
    }
    .button1{
        margin-left: 79% ;   position: absolute;
        bottom: 15px;
        right: 1%;
    }
    .button button{
        width: 130px;
    }
    .button1 button img{
        display: none;
    }
    .button button img{
        display: none;
    }
}
@media only screen and (max-width: 500px){
    .image{
        width: 30%;
    }
    .image1{
        width: 30% !important;
    }
    .features{
        line-height: 15px;
        right: 5%;
        font-size: 10px;
    }
    .features1{
        line-height: 15px;
        left: 50%;
        font-size: 10px;
    }
    .button1 button{
        position: absolute ;
        width: 100px;
        font-size: 16px;
        
    }
    .button1{
        display: none;
    }
    .room1{
        margin-bottom: 3%;
    }
    .button{
        display: none;
    }
    .lil-img img {
        justify-content: space-around;
        width: 100px;
        height: 70px;
    }
}
@media only screen and (max-width: 400px){
    .container{
        width: 100%;
    }
    .features{
        right: 1%;
        background-color: slategrey;
        width: 150px;
        top: 1px;
    }
    .features1{
        background-color: mediumvioletred;
        width: 150px;
        left: 56%;
    }
}

